.tl1 {
  height: 80px;
  width: 100%;
  display: flex;
}
.tl1 .tl1_img {
  margin-top: 15px;
  margin-left: 170px;
}
.tl1 .tl1_sh {
  width: 1300px;
  height: 70px;
  margin-top: 10px;
  margin-left: 70px;
  background-image: url(../imgs/train@2x.png);
  background-size: 1200px ;
  background-repeat: no-repeat;
  background-position: left;
  line-height: 70px;
  position: relative;
}
.tl1 .tl1_sh i {
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  color: #595252;
  position: absolute;
  margin-top: 26px;
}
.tl1 .tl1_sh_inp {
  width: 300px;
  height: 22px;
  margin-left: 100px;
}
.tl1 .tl1_sh_list {
  float: right;
  width: 500px;
  height: 50px;
  position: absolute;
  left: 540px;
  top: 1px;
}
.tl1 .tl1_sh_list li {
  list-style: none;
  float: left;
  height: 70px;
  line-height: 70px;
  margin-left: 12px;
}
.tl1 .tl1_sh_list a {
  text-decoration: none;
  font-size: 12px;
}
.tl1 .tl1_sh_list .tl1_sh_a {
  color: #3b99fc;
}
.tl1 .tl1_sh_list .tl1_sh_a1 {
  color: #000000;
}
.tl1 .tl1_sh_list .tl1_sh_a2 {
  font-size: 12px;
  color: #3b99fc;
}
.xl::after {
  display: none;
  position: absolute;
  z-index: 9999;
  content: '';
  border: 7px solid transparent;
  border-top: none;
  border-bottom-color: #ded5d5;
  width: 0;
  height: 0;
  top: 44px;
  left: 100px;
}
.xl:hover .yy {
  display: block;
}
:hover.xl::after {
  display: block;
}
.xl .yy {
  display: none;
  z-index: 999;
  background-color: #e0dcdc;
  position: absolute;
  top: 50px;
  left: 70px;
  height: 70px;
  width: 80px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 0 1px #000000;
  color: #000000;
}
.wd::after {
  z-index: 999999;
  content: '';
  position: absolute;
  border: 7px solid transparent;
  border-bottom-color: #dcd6d6;
  top: 37px;
  left: 180px;
  display: none;
}
.wd .wd12306 {
  display: none;
  position: absolute;
  background-color: #e0dcdc;
  z-index: 999999;
  width: 110px;
  height: 400px;
  line-height: 28px;
  text-align: center;
  top: 50px;
  left: 130px;
  box-shadow: 0 0 1px #000000;
  color: #000000;
}
.x {
  border-bottom: 2px dotted #c7c2c2;
  width: 80px;
  margin: 0 auto;
}
.wd:hover .wd12306 {
  display: block;
}
:hover::after {
  display: block;
}
.tl2 {
  width: 100%;
  height: 40px;
  background-color: #3b99fc;
}
.tl2 .tl2_cen {
  width: 1190px;
  height: 40px;
  margin: 0px auto;
}
.tl2 .tl2_cen ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  line-height: 40px;
}
.tl2 .tl2_cen ul .tl2_cen_first {
  background-color: #2676e3;
}
.tl2 .tl2_cen li {
  display: block;
  flex-grow: 1;
  text-align: center;
}
.tl2 .tl2_cen li a {
  text-decoration: none;
}
.tl2 .tl2_cen li li:hover {
  background-color: #2676e3;
}
.tl2 .tl2_cen a {
  color: #ffffff;
  display: block;
}
.one {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 120px;
  left: 165px;
  border: 1px solid #2676e3;
}
.qq:hover .one {
  display: block;
  background-color: #fffefe;
}
.goumai {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
}
.goumai span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.goumai h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.goumai .a1 {
  left: 30px;
  top: 30px;
}
.goumai .a2 {
  left: 250px;
  top: 30px;
}
.goumai .a3 {
  left: 30px;
  top: 60px;
}
.goumai .a4 {
  left: 250px;
  top: 60px;
}
.goumai .sx1 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.goumai .sx2 {
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #85befa;
  left: 390px;
  top: 10px;
}
.biangeng {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
  left: 400px;
  top: -120px;
}
.biangeng span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.biangeng h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.biangeng .b1 {
  left: 30px;
  top: 30px;
}
.biangeng .b2 {
  left: 250px;
  top: 30px;
}
.biangeng .b3 {
  left: 30px;
  top: 60px;
}
.biangeng .b4 {
  left: 250px;
  top: 60px;
}
.biangeng .sx3 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.biangeng .sx4 {
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #85befa;
  left: 390px;
  top: 10px;
}
.gengduo {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
  left: 800px;
  top: -240px;
}
.gengduo span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.gengduo h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.gengduo .c1 {
  left: 30px;
  top: 30px;
}
.gengduo .c2 {
  left: 250px;
  top: 30px;
}
.gengduo .c3 {
  left: 30px;
  top: 60px;
}
.gengduo .c4 {
  left: 250px;
  top: 60px;
}
.gengduo .sx5 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.two {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 70px;
  left: 165px;
  border: 1px solid #2676e3;
}
.ww:hover .two {
  display: block;
  background-color: #fffdfd;
}
.wugongrenyuan {
  position: absolute;
  width: 1200px;
  height: 70px;
}
.wugongrenyuan span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.wugongrenyuan .d1 {
  left: 30px;
  top: 15px;
}
.wugongrenyuan .d2 {
  left: 220px;
  top: 15px;
}
.wugongrenyuan .sx6 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 160px;
  top: 15px;
}
.wugongrenyuan .sx7 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 340px;
  top: 15px;
}
.three {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 70px;
  left: 165px;
  border: 1px solid #2676e3;
}
.ee:hover .three {
  display: block;
  background-color: #fffdfd;
}
.huiyuanguanli {
  position: absolute;
  width: 1200px;
  height: 70px;
}
.huiyuanguanli span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.huiyuanguanli .e1 {
  left: 30px;
  top: 15px;
}
.huiyuanguanli .e2 {
  left: 220px;
  top: 15px;
}
.huiyuanguanli .e3 {
  left: 410px;
  top: 15px;
}
.huiyuanguanli .e4 {
  left: 600px;
  top: 15px;
}
.huiyuanguanli .e5 {
  left: 790px;
  top: 15px;
}
.huiyuanguanli .sx8 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 200px;
  top: 15px;
}
.huiyuanguanli .sx9 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 390px;
  top: 15px;
}
.huiyuanguanli .sx10 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 580px;
  top: 15px;
}
.huiyuanguanli .sx11 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 770px;
  top: 15px;
}
.four {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 90px;
  left: 165px;
  border: 1px solid #2676e3;
}
.rr:hover .four {
  display: block;
  background-color: #fffdfd;
}
.zdlkyy {
  width: 400px;
  height: 90px;
}
.zdlkyy span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.zdlkyy .f1 {
  left: 30px;
  top: 8px;
}
.zdlkyy .f2 {
  left: 250px;
  top: 8px;
}
.zdlkyy .f3 {
  left: 30px;
  top: 45px;
}
.zdlkyy .f4 {
  left: 250px;
  top: 45px;
}
.zdlkyy .sx12 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 215px;
  top: 20px;
}
.zdlkyy .sx13 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 420px;
  top: 20px;
}
.gxqc {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 450px;
  top: 0px;
}
.gxqc span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.gxqc .g1 {
  left: 30px;
  top: 8px;
}
.gxqc .g2 {
  left: 250px;
  top: 8px;
}
.gxqc .g3 {
  left: 30px;
  top: 45px;
}
.gxqc .g4 {
  left: 250px;
  top: 45px;
}
.gxqc .sx14 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 215px;
  top: 20px;
}
.gxqc .sx15 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 420px;
  top: 20px;
}
.five {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 70px;
  left: 165px;
  border: 1px solid #2676e3;
}
.tt:hover .five {
  display: block;
  background-color: #fffdfd;
}
.cytc {
  position: absolute;
  width: 1200px;
  height: 70px;
}
.cytc span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.cytc .h1 {
  left: 30px;
  top: 15px;
}
.cytc .h2 {
  left: 220px;
  top: 15px;
}
.cytc .h3 {
  left: 400px;
  top: 15px;
}
.cytc .sx16 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 180px;
  top: 15px;
}
.cytc .sx17 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 360px;
  top: 15px;
}
.cytc .sx18 {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #85befa;
  left: 560px;
  top: 15px;
}
.six {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 140px;
  left: 165px;
  border: 1px solid #2676e3;
}
.yy:hover .six {
  display: block;
  background-color: #fffdfd;
}
.cjwt {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 140px;
}
.cjwt span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.cjwt h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.cjwt .i1 {
  left: 30px;
  top: 30px;
}
.cjwt .i2 {
  left: 230px;
  top: 30px;
}
.cjwt .i3 {
  left: 30px;
  top: 60px;
}
.cjwt .i4 {
  left: 230px;
  top: 60px;
}
.cjwt .i5 {
  left: 30px;
  top: 90px;
  color: #a3a5a7;
}
.cjwt .sx19 {
  position: absolute;
  width: 1px;
  height: 80px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.cjwt .sx20 {
  position: absolute;
  width: 1px;
  height: 112px;
  background-color: #85befa;
  left: 390px;
  top: 10px;
}
.lkxz {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 140px;
  left: 400px;
  top: -140px;
}
.lkxz span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.lkxz h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.lkxz .j1 {
  left: 30px;
  top: 30px;
}
.lkxz .j2 {
  left: 230px;
  top: 30px;
}
.lkxz .j3 {
  left: 30px;
  top: 60px;
  color: #a3a5a7;
}
.lkxz .sx21 {
  position: absolute;
  width: 1px;
  height: 80px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.lkxz .sx22 {
  position: absolute;
  width: 1px;
  height: 112px;
  background-color: #85befa;
  left: 390px;
  top: 10px;
}
.xgzc {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 140px;
  left: 800px;
  top: -280px;
}
.xgzc span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.xgzc h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.xgzc .k1 {
  left: 30px;
  top: 30px;
}
.xgzc .k2 {
  left: 230px;
  top: 30px;
}
.xgzc .k3 {
  left: 30px;
  top: 60px;
}
.xgzc .k4 {
  left: 230px;
  top: 60px;
}
.xgzc .k5 {
  left: 30px;
  top: 90px;
  color: #a3a5a7;
}
.xgzc .sx23 {
  position: absolute;
  width: 1px;
  height: 80px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.seven {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 1200px;
  height: 120px;
  left: 165px;
  border: 1px solid #2676e3;
}
.uu:hover .seven {
  display: block;
  background-color: #fffdfd;
}
.cycx {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
}
.cycx span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.cycx h3 {
  position: absolute;
  left: 30px;
  color: #3b99fc;
}
.cycx .l1 {
  left: 30px;
  top: 30px;
}
.cycx .l2 {
  left: 230px;
  top: 30px;
}
.cycx .l3 {
  left: 30px;
  top: 60px;
}
.cycx .l4 {
  left: 230px;
  top: 60px;
}
.cycx .sx24 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.cycx .sx25 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 390px;
  top: 40px;
}
.gbpj {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
  left: 400px;
  top: -120px;
}
.gbpj span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.gbpj .m1 {
  left: 30px;
  top: 30px;
}
.gbpj .m2 {
  left: 230px;
  top: 30px;
}
.gbpj .m3 {
  left: 30px;
  top: 60px;
}
.gbpj .m4 {
  left: 230px;
  top: 60px;
}
.gbpj .sx26 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.gbpj .sx27 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 390px;
  top: 40px;
}
.qssj {
  position: relative;
  background-color: #ffffff;
  width: 400px;
  height: 120px;
  left: 800px;
  top: -240px;
}
.qssj span {
  position: absolute;
  color: #747171;
  font-size: 14px;
}
.qssj .n1 {
  left: 30px;
  top: 30px;
}
.qssj .n2 {
  left: 230px;
  top: 30px;
}
.qssj .n3 {
  left: 30px;
  top: 60px;
}
.qssj .n4 {
  left: 230px;
  top: 60px;
}
.qssj .sx28 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #85befa;
  left: 190px;
  top: 40px;
}
.tl3 {
  width: 100%;
  height: 450px;
}
.tl3 .tl3_2 {
  width: 500px;
  height: 350px;
  background-color: #fbf9f9;
  margin-left: 165px;
  position: absolute;
  margin-top: 47px;
}
.tl3 .tl3_2 .tl3_cp a {
  display: block;
  text-decoration: none;
  color: #f8f8f8;
}
.tl3 .tl3_2 .tl3_cp .cp {
  background-color: #fbfcff;
}
.tl3 .tl3_2 .tl3_cp .ys {
  color: #3b99fc;
}
.tl3 .tl3_2 .tl3_cp li {
  width: 100px;
  height: 115.5px;
  background-color: #2676e3;
  margin-top: 0.6px;
  line-height: 115.5px;
}
.tl3 .tl3_2 .tl3_cp li i {
  margin-left: 7px;
  margin-top: -10px;
  font-size: 18px;
}
.tl3 .tl3_2 .tl3_cpxx {
  margin-left: 125px;
}
.tl3 .tl3_2 .tl3_cpxx .xhx {
  border-bottom: #8ebbfb solid 3px;
}
.tl3 .tl3_2 .tl3_cpxx .tgq {
  color: #3b99fc;
}
.tl3 .tl3_2 .tl3_cpxx ul {
  position: absolute;
}
.tl3 .tl3_2 .tl3_cpxx li {
  float: left;
  width: 85px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 3px solid #cfd0d1;
}
.tl3 .tl3_2 .tl3_cpxx a {
  text-decoration: none;
  font-size: 14px;
  color: #797575;
}
.tl3 .tl3_dl {
  position: absolute;
  top: 70px;
  left: 130px;
  font-size: 14px;
}
.tl3 .tl3_dl .text {
  width: 220px;
  height: 25px;
  border: 1px solid #d8d5d7;
}
.tl3 .tl3_dl button {
  background-color: #feb062;
  border: none;
  height: 30px;
  width: 350px;
  border-radius: 6px;
}
@keyframes run {
  0% {
    background-image: url(../imgs/lb1.jpg);
  }
  25% {
    background-image: url(../imgs/lb2.jpg);
  }
  50% {
    background-image: url(../imgs/lb3.jpg);
  }
  75% {
    background-image: url(../imgs/lb4.jpg);
  }
  100% {
    background-image: url(../imgs/lb5.jpg);
  }
}
.back-top_1 {
  width: 50px;
  height: 80px;
  background-color: #eae9e9;
  position: fixed;
  right: 0px;
  top: 180px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.back-top_1 i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.back-top_1 a {
  text-decoration: none;
  color: #747171;
}
.back-top_1 :hover {
  color: #3b99fc;
}
.back-top_2 {
  width: 50px;
  height: 80px;
  background-color: #eae9e9;
  position: fixed;
  right: 0px;
  top: 270px;
  color: #747171;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.back-top_2 i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.back-top_2 a {
  text-decoration: none;
  color: #747171;
}
.back-top_2 :hover {
  color: #3b99fc;
}
.back-top_3 {
  width: 50px;
  height: 80px;
  background-color: #eae9e9;
  position: fixed;
  right: 0px;
  top: 360px;
  color: #747171;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.back-top_3 i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.back-top_3 a {
  text-decoration: none;
  color: #747171;
}
.back-top_3 :hover {
  color: #3b99fc;
}
.back-top_4 {
  width: 50px;
  height: 65px;
  background-color: #eae9e9;
  position: fixed;
  right: 0px;
  top: 450px;
  color: #747171;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.back-top_4 i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.back-top_4 a {
  text-decoration: none;
  color: #747171;
}
.back-top_4 :hover {
  color: #3b99fc;
}
.back-top_5 {
  width: 50px;
  height: 52px;
  background-color: #eae9e9;
  position: fixed;
  right: 0px;
  top: 93%;
  font-size: 25px;
  text-align: center;
  color: #747171;
  border-radius: 5px;
}
.back-top_5 i {
  margin-top: 10px;
}
.back-top_5 a {
  text-decoration: none;
  color: #747171;
}
.back-top_5 :hover {
  color: #3b99fc;
}
.tl4 {
  width: 1200px;
  height: 140px;
  margin: 0 auto;
  font-size: 13px;
}
.tl4 li {
  list-style: none;
  height: 140px;
  width: 169px;
  text-align: center;
  float: left;
}
.tl4 li a {
  text-decoration: none;
  color: #000000;
}
.tl4 li img {
  margin-top: 20px;
}
.tl5 {
  width: 1200px;
  height: 340px;
  margin: 0 auto;
}
.tl5 div {
  width: 590px;
  height: 160px;
  float: left;
}
.tl5 .tl5_fw {
  margin-left: 15px;
}
.tl5 .tl5_fw2 {
  margin-top: 15px;
}
.tl6 {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #cbcfd3;
  margin: 0 auto;
  margin-top: 20px;
}
.tl6 a {
  float: right;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}
.tl6 span {
  color: #3b99fc;
}
.tl6 :hover {
  color: #3b99fc;
}
.tl7 {
  width: 1200px;
  height: 520px;
  margin: 0 auto;
  margin-top: 10px;
}
.tl7 a {
  text-decoration: none;
}
.tl7 div {
  width: 290px;
  height: 250px;
  box-shadow: 0 0 1px #000000;
  border-radius: 2px;
  float: left;
}
.tl7 .tl7_d1 {
  margin-left: 10px;
}
.tl7 .tl7_d2 {
  margin-top: 10px;
}
.tl7 .p1 {
  font-size: 14px;
  color: #333333;
  margin-top: 10px;
}
.tl7 .p2 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #ff8201;
}
.tl8 {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
}
.tl8 div {
  float: left;
  width: 390px;
  height: 40px;
  line-height: 40px;
}
.tl8 .tl8_div1 {
  background-color: #3b99fc;
  text-align: center;
  color: #ffffff;
}
.tl8 .tl8_div2 {
  margin-left: 15px;
  text-align: center;
  background-color: #efeff4;
  color: #333333;
}
.tl9 {
  width: 1200px;
  height: 175px;
  border: 1px solid #dedede;
  margin: 0 auto;
  font-size: 13px;
}
.tl9 .tl9_msg1 {
  width: 558px;
  height: 175px;
  float: left;
  margin-left: 30px;
  position: relative;
}
.tl9 li {
  margin-top: 30px;
}
.tl9 a {
  text-decoration: none;
  color: #333333;
}
.tl9 span {
  float: right;
  margin-right: 25px;
  color: #9a9999;
  font-size: 12px;
}
.tl9 .dd {
  position: absolute;
  margin-right: 570px;
  height: 7px;
  width: 7px;
  background-color: #3b99fc;
  margin-left: -20px;
  margin-top: 4px;
}
.tl9 .gd {
  float: right;
  margin-top: 15px;
  margin-right: 23px;
}
.tl9 .gd :hover {
  color: #3b99fc;
}
.tl10 {
  width: 100%;
  height: 195px;
  background-color: #f8f8f8;
  margin-top: 50px;
}
.tl10 .tl10_hz {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
}
.tl10 .tl10_hz .dhz {
  width: 1200px;
  height: 220px;
}
.tl10 .tl10_hz .dhz .yqlj {
  width: 1200px;
  height: 150px;
  margin-top: 30px;
  float: left;
  position: relative;
}
.tl10 .tl10_hz .dhz .yqlj .q1 {
  margin-left: 410px;
}
.tl10 .tl10_hz .dhz .yqlj .q2 {
  margin-left: 40px;
}
.tl10 .tl10_hz .dhz .yqlj .q3 {
  margin-left: 43px;
}
.tl10 .tl10_hz .dhz .yqlj .q4 {
  margin-left: 40px;
}
.tl10 .tl10_hz .dhz .yqlj .tp {
  margin-top: 20px;
  height: 90px;
  width: 430px;
}
.tl10 .tl10_hz .dhz .yqlj .tp div {
  float: left;
}
.tl10 .tl10_hz .dhz .yqlj .tp .lj1 {
  margin-left: 10px;
}
.tl10 .tl10_hz .dhz .yqlj .tp .lj2 {
  margin-top: 10px;
}
.tl10 .tl10_hz .dhz .tp1 {
  height: 130px;
  width: 660px;
  position: absolute;
  right: 100px;
  top: 30px;
}
.tl10 .tl10_hz .dhz .tp1 .ewm_1 {
  margin-left: 60px;
}
.tl10 .tl10_hz .dhz .tp1 .ewm_2 {
  margin-left: 85px;
}
.tl10 .tl10_hz .dhz .tp1 .ewm_3 {
  margin-left: 70px;
}
.tl10 .tl10_hz .dhz .tp1 .ewm_4 {
  margin-left: 38px;
}
.tl11 {
  width: 100%;
  height: 80px;
  background-color: #666666;
  font-size: 12px;
  color: #cccbcb;
}
.tl11 .tl11_bq {
  margin: 0 auto;
  height: 80px;
  width: 1200px;
  text-align: center;
  position: relative;
}
.tl11 .tl11_bq .tl11_bq1 {
  width: 1200px;
  height: 58px;
  margin-top: 20px;
  position: absolute;
}
.tl11 .tl11_bq .tl11_bq2 {
  position: absolute;
  left: 880px;
  top: 16px;
}
