.tl3 {
  width: 100%;
  height: 450px;
}
.tl3 .tl3_2 {
  width: 500px;
  height: 350px;
  background-color: #fbf9f9;
  margin-left: 165px;
  position: absolute;
  margin-top: 47px;
}
.tl3 .tl3_2 .tl3_cp a {
  display: block;
  text-decoration: none;
  color: #f8f8f8;
}
.tl3 .tl3_2 .tl3_cp .cp {
  background-color: #fbfcff;
}
.tl3 .tl3_2 .tl3_cp .ys {
  color: #3b99fc;
}
.tl3 .tl3_2 .tl3_cp li {
  width: 100px;
  height: 115.5px;
  background-color: #2676e3;
  margin-top: 0.6px;
  line-height: 115.5px;
}
.tl3 .tl3_2 .tl3_cp li i {
  margin-left: 7px;
  margin-top: -10px;
  font-size: 18px;
}
.tl3 .tl3_2 .tl3_cpxx {
  margin-left: 125px;
}
.tl3 .tl3_2 .tl3_cpxx .xhx {
  border-bottom: #8ebbfb solid 3px;
}
.tl3 .tl3_2 .tl3_cpxx .tgq {
  color: #3b99fc;
}
.tl3 .tl3_2 .tl3_cpxx ul {
  position: absolute;
}
.tl3 .tl3_2 .tl3_cpxx li {
  float: left;
  width: 85px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 3px solid #cfd0d1;
}
.tl3 .tl3_2 .tl3_cpxx a {
  text-decoration: none;
  font-size: 14px;
  color: #797575;
}
.tl3 .tl3_dl {
  position: absolute;
  top: 70px;
  left: 130px;
  font-size: 14px;
}
.tl3 .tl3_dl .text {
  width: 220px;
  height: 25px;
  border: 1px solid #d8d5d7;
}
.tl3 .tl3_dl button {
  background-color: #feb062;
  border: none;
  height: 30px;
  width: 350px;
  border-radius: 6px;
}
